#
# Binaries for programs and plugins
# Dependency directories (remove the comment below to include it)
# Go workspace file
# If you prefer the allow list template instead of the deny list, see community template:
# Output of the go coverage tool, specifically when used with LiteIDE
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# vendor/
**/.DS_Store
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*/__debug**
*/debug**
*__debug
./kodata/assets/**
./kodata/index.yaml
./kodata/schema
./runtime
.DS_Store
._.DS_Store
.idea
/kodata/assets
/kodata/assets/*
/kodata/index.yaml
/kodata/microapp/**
/kodata/plugins/webdav/*
/node_modules/*
__debug**
go.work
kubeconfig.yaml
node_modules
runtime/** 
runtime/http.pid
runtime/main
vendor
vendor/** 
w7panel-offline-*.tgz